<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paez.edwin.amp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/codensa_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    </activity>
        <activity
            android:name=".TipoActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".CategoriamtActivity"
            android:parentActivityName=".TipoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".CategptpActivity"
            android:parentActivityName=".TipoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".FallaracondmtActivity"
            android:parentActivityName=".CategoriamtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".FallaraaccemtActivity"
            android:parentActivityName=".CategoriamtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".FallaraaislemtActivity"
            android:parentActivityName=".CategoriamtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".FallarasopormtActivity"
            android:parentActivityName=".CategoriamtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".FallaratermimtActivity"
            android:parentActivityName=".CategoriamtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".FallaraseccmtActivity"
            android:parentActivityName=".CategoriamtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".FallaratelecmtActivity"
            android:parentActivityName=".CategoriamtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo101Activity"
            android:parentActivityName=".FallaraaccemtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo102Activity"
            android:parentActivityName=".FallaraaccemtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo103Activity"
            android:parentActivityName=".FallaraaccemtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo201Activity"
            android:parentActivityName=".FallaracondmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo217Activity"
            android:parentActivityName=".FallaracondmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo202Activity"
            android:parentActivityName=".FallaracondmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo203Activity"
            android:parentActivityName=".FallaracondmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo204Activity"
            android:parentActivityName=".FallaracondmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo205Activity"
            android:parentActivityName=".FallaracondmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo206Activity"
            android:parentActivityName=".FallaracondmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo207Activity"
            android:parentActivityName=".FallaracondmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo208Activity"
            android:parentActivityName=".FallaracondmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo209Activity"
            android:parentActivityName=".FallaracondmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo210Activity"
            android:parentActivityName=".FallaracondmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo211Activity"
            android:parentActivityName=".FallaracondmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo212Activity"
            android:parentActivityName=".FallaracondmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo213Activity"
            android:parentActivityName=".FallaracondmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo214Activity"
            android:parentActivityName=".FallaracondmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo301Activity"
            android:parentActivityName=".FallaraaislemtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo302Activity"
            android:parentActivityName=".FallaraaislemtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo309Activity"
            android:parentActivityName=".FallaraaislemtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo305Activity"
            android:parentActivityName=".FallaraaislemtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo306Activity"
            android:parentActivityName=".FallaraaislemtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo401Activity"
            android:parentActivityName=".FallarasopormtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo403Activity"
            android:parentActivityName=".FallarasopormtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo404Activity"
            android:parentActivityName=".FallarasopormtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo405Activity"
            android:parentActivityName=".FallarasopormtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo408Activity"
            android:parentActivityName=".FallarasopormtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo410Activity"
            android:parentActivityName=".FallarasopormtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo412Activity"
            android:parentActivityName=".FallarasopormtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo413Activity"
            android:parentActivityName=".FallarasopormtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo416Activity"
            android:parentActivityName=".FallarasopormtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo417Activity"
            android:parentActivityName=".FallarasopormtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo418Activity"
            android:parentActivityName=".FallarasopormtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Mtramo501Activity"
            android:parentActivityName=".FallaratermimtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo503Activity"
            android:parentActivityName=".FallaratermimtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo504Activity"
            android:parentActivityName=".FallaratermimtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo505Activity"
            android:parentActivityName=".FallaratermimtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo506Activity"
            android:parentActivityName=".FallaratermimtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo511Activity"
            android:parentActivityName=".FallaratermimtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
        android:name=".Mtramo601Activity"
        android:parentActivityName=".FallaraseccmtActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
    </activity>
        <activity
            android:name=".Mtramo603Activity"
            android:parentActivityName=".FallaraseccmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo604Activity"
            android:parentActivityName=".FallaraseccmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo605Activity"
            android:parentActivityName=".FallaraseccmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo606Activity"
            android:parentActivityName=".FallaraseccmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo607Activity"
            android:parentActivityName=".FallaraseccmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo608Activity"
            android:parentActivityName=".FallaraseccmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo610Activity"
            android:parentActivityName=".FallaraseccmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo701Activity"
            android:parentActivityName=".FallaratelecmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo703Activity"
            android:parentActivityName=".FallaratelecmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Mtramo704Activity"
            android:parentActivityName=".FallaratelecmtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".PtpacceActivity"
            android:parentActivityName=".CategptpActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".PtpapoyoActivity"
            android:parentActivityName=".CategptpActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".PtpseccActivity"
            android:parentActivityName=".CategptpActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".PtptrafoActivity"
            android:parentActivityName=".CategptpActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".PtppatActivity"
            android:parentActivityName=".CategptpActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp101Activity"
            android:parentActivityName=".PtpacceActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp102Activity"
            android:parentActivityName=".PtpacceActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp103Activity"
            android:parentActivityName=".PtpacceActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp201Activity"
            android:parentActivityName=".PtpapoyoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
        android:name=".Ptp202Activity"
        android:parentActivityName=".PtpapoyoActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
    </activity>
        <activity
            android:name=".Ptp206Activity"
            android:parentActivityName=".PtpapoyoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp207Activity"
            android:parentActivityName=".PtpapoyoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp208Activity"
            android:parentActivityName=".PtpapoyoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp209Activity"
            android:parentActivityName=".PtpapoyoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp211Activity"
            android:parentActivityName=".PtpapoyoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp212Activity"
            android:parentActivityName=".PtpapoyoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>


        <activity
            android:name=".Ptp213Activity"
            android:parentActivityName=".PtpapoyoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp214Activity"
            android:parentActivityName=".PtpapoyoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
        android:name=".Ptp306Activity"
        android:parentActivityName=".PtpseccActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
    </activity>
        <activity
            android:name=".Ptp307Activity"
            android:parentActivityName=".PtpseccActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp308Activity"
            android:parentActivityName=".PtpseccActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp309Activity"
            android:parentActivityName=".PtpseccActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp310Activity"
            android:parentActivityName=".PtpseccActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp401Activity"
            android:parentActivityName=".PtptrafoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
        android:name=".Ptp402Activity"
        android:parentActivityName=".PtptrafoActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
    </activity>
        <activity
            android:name=".Ptp403Activity"
            android:parentActivityName=".PtptrafoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp404Activity"
            android:parentActivityName=".PtptrafoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp405Activity"
            android:parentActivityName=".PtptrafoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp406Activity"
            android:parentActivityName=".PtptrafoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp411Activity"
            android:parentActivityName=".PtptrafoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp407Activity"
            android:parentActivityName=".PtptrafoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp408Activity"
            android:parentActivityName=".PtptrafoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp409Activity"
            android:parentActivityName=".PtptrafoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
        android:name=".Ptp410Activity"
        android:parentActivityName=".PtptrafoActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
    </activity>
        <activity
            android:name=".Ptp501Activity"
            android:parentActivityName=".PtppatActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp502Activity"
            android:parentActivityName=".PtppatActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp503Activity"
            android:parentActivityName=".PtppatActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp504Activity"
            android:parentActivityName=".PtppatActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Ptp505Activity"
            android:parentActivityName=".PtppatActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>


        <activity
            android:name=".ClasebtActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".AcategbtActivity"
            android:parentActivityName=".ClasebtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".DcategbtActivity"
            android:parentActivityName=".ClasebtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
        android:name=".ScategbtActivity"
        android:parentActivityName=".ClasebtActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
    </activity>
        <activity
            android:name=".SecfallabtActivit"
            android:parentActivityName=".AcategbtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ConducfallabtActivity"
            android:parentActivityName=".AcategbtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>